<div class="titulo1">
    <p>TORSO</p>
</div>
<div class="torso">
    <img
      src="https://img.freepik.com/foto-gratis/retrato-leon-africano-calida-luz_475641-46.jpg"
      width="600px"
      height="auto"
    />
    <img
      src="https://img.freepik.com/fotos-premium/dibujo-esqueleto-leon-anatomia-esqueleto-animal_660932-221.jpg"
      width="400px"
      height="auto"
    />
  </div>

  <div class="titulo2">
    <p>ALAS</p>
</div>
<div class="alas">
    <img
      src="https://png.pngtree.com/element_our/20190522/ourlarge/pngtree-eagle-winged-eagle-pictures-free-png-transparent-layer-material-image_1075061.jpg"
      width="400px"
      height="auto"
    />
    <img
    src="https://i.pinimg.com/474x/73/e4/f8/73e4f8b81f9a36634881fe7f875e4729.jpg"
    width="500px"
    height="auto"
  />
  </div>

 