<div class="titulo1">
    <p>TORSO</p>
</div>
<div class="torso">
    <img
      src="https://img.freepik.com/foto-gratis/retrato-leon-africano-calida-luz_475641-46.jpg"
      width="400px"
      height="auto"
    />
  </div>

  <div class="titulo2">
    <p>ALAS</p>
</div>
<div class="alas">
    <img
      src="https://png.pngtree.com/element_our/20190522/ourlarge/pngtree-eagle-winged-eagle-pictures-free-png-transparent-layer-material-image_1075061.jpg"
      width="400px"
      height="auto"
    />
  </div>